@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrool bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #4338ca;
}

::-webkit-scrollbar-thumb:hover {
  background: #4035b8;
}

/* Custom scrool bar */
